:root {
  --main-color: #F25F5C;
}

.header {
  background-color: #fff;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid lightgrey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .drawer-open {
    margin-right: 260px;
  }
}

.custom-header {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  textDecoration: none;
}

.custom-header:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.bold {
  font-weight: 700;
}

.red-text {
  color: var(--main-color);
}

.grey-text {
  color: rgba(0, 0, 0, 0.54);
}

.max-container-width {
  max-width: 1440px;
}

*:focus {
  outline: 0;
  outline: none;
}
