
.header {
  background-color: #fff;
  /*padding: 20px;*/
  margin-bottom: 20px;
  /*border-color: rgba(0, 0, 0, 0.14);*/
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid lightgrey;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.hover-click {
  cursor: pointer
}

@media screen and (min-width: 720px) {
  .drawer-open {
    margin-right: 260px;
  }
}

.custom-header {
  font-family: 'Permanent Marker', cursive;
}

.lora-font {
  font-family: 'Lora', serif;
}

span {
  font-family: 'Roboto', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}



