html * {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.618rem;
}

.hover-click {
  cursor: pointer
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
